/* ./src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
